.css-dev-only-do-not-override-1xg9z9n.ant-layout-header {
  background: none;
}

.demo-logo {
  width: 239.2px;
  height: 20.22px;
  left: 0.3%;
  margin-right: 44px;
  right: 0%;
  top: 15.37%;
  bottom: 31.4%;
}
